@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

#navbar-preview-element {
  height: 0;
  width: 100%;
  padding-bottom: 100%;
}

#navbar {
  margin: auto;
  width: 50vw;
  /* text-align: center;*/
  padding: 0em 0em;
  color: white;
  display: flex;
  flex-direction: column;
  position: sticky;
  position: -webkit-sticky;
  align-self: flex-start;
  justify-content: flex-start;
}

.navbar-button {
  background-color: #000040;
  text-align: center;
  font-size: 26;
  color: white;
}

.navbar-button:hover {
  background-color: #000080;
}


#navbar-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#body-contents {
  padding: 1%; 
  min-width: 80vw;
  width: 80vw;
}

.blog img {
  width: 100%;
}

.category-preview {
  display: flex;
  flex-direction: row;
  background-color: #000;
  max-height: 10vh;
  margin-bottom: 20px;
  user-select: none;
  border-radius: 25px;
  border: 2px solid #ccc;
  overflow: hidden;
}

.category-preview:hover {
  background-color: #114;
}

.category-preview-img {
  overflow: hidden;
  object-fit: cover;
  width: 300px;
  max-width: 10%;
  user-select: none;
}

.category-preview-title {
  margin-left: 10px;
  font-size: 40px;
  user-select: none;
  margin-top: 0;
  margin-bottom: 0px;
  object-fit: contain;
}

.category-preview:hover .category-preview-title {
  font-size: 60px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Host Grotesk', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 20;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #112;
  color: white;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homepage_code {
  margin-left: 5%;
}

.homepage_code *{
  font-family: monospace;
  display: inline;
  white-space: pre-wrap;
  font-size: 40;
}

.homepage_code button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;        
}

.homepage_code > button#about_home:hover {
  background-color: #100;
}

.homepage_code > button#projects_home:hover {
  background-color: #010;
}

.homepage_code > button#skills_home:hover {
  background-color: #001;
}

.homepage_code > button#articles_home:hover {
  background-color: #200f00;
}

.homepage_code > button#contact_home:hover {
  background-color: #101;
}

.grayed_out {
  color: #555;
}

.homepage_code > #about_home {
  color: #c10;
}

.homepage_code > #projects_home {
  color: #8b0;
}

.homepage_code > #skills_home {
  color: #03a;
}

.homepage_code > #articles_home {
  color: #ea0;
}

.homepage_code > #contact_home {
  color: #82b;
}
