@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

#navbar {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 1em 1em;
}

#navbar-item {
  padding: 2em 2em;
  background-color: #000040;
  text-align: center;
}

#navbar-button {
  padding: 1% 2%;
  margin: 0 0 0 1%;
  background-color: #000040;
  text-align: center;
  font-size: 26;
}

#navbar-button:hover {
  background-color: #000080;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Host Grotesk', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 20;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
